
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight
Xcursor.size:  22
Xcursor.theme: DMZ-Black

URxvt.depth: 32
URxvt.background: [50]#000000
URxvt.scrollBar: false
URxvt.font: xft:Office Code Pro:antialias=true:size=9

